.centro {margin: 0 auto;}
.awesome {font-size: 30px; color: #F05F40;}
.gray {color: #212121;}
.tiny {font-size: 11px;}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.bg-dark-gray {background-color: #222222; width: 100vw;}
.text-white {color: #FFFFFF;}
.text-light-gray {color: #a3a3a3;}
.text-magenta {color: #BA007C;}
.borde {border: 2px solid #F05F40; width: 50px;}