<<<<<<< HEAD
/*











*/
=======
.centro {margin: 0 auto;}
.awesome {font-size: 30px; color: #F05F40;}
.gray {color: #212121;}
.tiny {font-size: 11px;}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.bg-dark-gray {background-color: #222222; width: 100vw;}
.text-white {color: #FFFFFF;}
.text-light-gray {color: #a3a3a3;}
.text-magenta {color: #BA007C;}
.borde {border: 2px solid #F05F40; width: 50px;}

/*camila*/

.bg{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 620px;
	width: 100%;
	
}
.titulo{
	font-weight: bold;
	color: white;
	display: inline;
	float: left;
}
.uli{
	text-decoration: none;
	display: inline;
	float: right;
}
.lis{
	text-decoration: none;
	display: inline;
	color: white;
	margin: 20px;
	font-size: 12px;
	float: left;
}

ul.uli li a{color:#FFFFFF; opacity: 0.5;}
ul.uli li a:hover{color: #FFFFFF; opacity: 1;}
.active{
	text-decoration: none;
	color: white;
	display: inline;
	margin: 20px;
	font-size: 12px;
	float: left;
}
.katy{
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 17px;
}
.inter{
	color: white;
	display: inline-block;
	font-size: 17px;
	line-height: normal;
	text-align: center;
}
.btn-default{
    text-transform: none;
	background: #F05F40;
	overflow: visible;
	cursor: default;
	padding: 0;
    border-radius: 25px;
    line-height: normal;
    color: white;
    border-style: none;
    width: 120px;
    height: 40px;
    text-align: center;
}
.hr77{
	border: 2px solid #F05F40;
	width: 35px;
}

.two{
	background-color: #C95C47;
	width: 100%;
	background-size: cover;

}
.hr88{
	border: 2px solid white;
	width: 35px;
}
.tree{
	background-color: #F05F40;
	width: 100%;
	background-size: cover;
	height: 390px;
}

